
<header class="hero-header" style="background: #211d1f url('<% if (page.banner) { %> <%= page.banner %> <% } else { %> /img/knowledge-bg.jpg <% } %>') <% if (page.percent) { %> <%= page.percent %> <% } else { %> 50% 50% <% } %> no-repeat; background-size: cover;">
  <div class="heading">
    <h1><%= page.title %></h1>
    <h4 class="subheading"><%= page.subtitle || "" %></h4>
    <% if (page.authors) { %>
      <strong class="author">By:
        <% page.authors.map(function(author) { %>
          <a href="<%= author.url %>"><%= author.name %>
            <% if (author.network) { %>
              <span class="hero-icon"><svg role="img"><use xlink:href="#icon-<%= author.network %>"></use></svg></span>
            <% } %>
          </a><i>,</i>
        <% }) %>
      </strong>
    <% } %>
  </div>
</header>
