
.miscellaneous .hero-header {
  height: 100%;
  max-height: 350px;
  box-shadow: 1px 1px 4px 2px $black;
}

.misc {
  background: $asphalt;
  color: $white;
  min-height: 90%;
}

.misc svg {
  width: 13px;
  height: 13px;
  color: $black;
  vertical-align: middle;
}

.misc h2 {
  text-align: center;
  margin-bottom: 1em;
}

.contents.misc p {
  margin: .2em 0;
}

.misc h2,
.misc p {
  color: $golden;
}

.misc input {
  vertical-align: middle;
  margin: 0 1em 0 .2em;
}

.misc p:nth-of-type(n+5):nth-of-type(-n+15) {
  color: $white;
}

.misc__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.2em 0;
}

.misc__grid a {
  border: 0;
}

.misc__grid .card {
  background-color: $white;
  color: $black;
  border-radius: 8px;
  flex: 30% 0 0;
  margin-bottom: 2em;
}

.card p {
  padding-left: .5em;
  margin-bottom: .5em;
  color: $black;
}

.card__title {
  margin-top: 1.2em;
  height: 45px;
}

.card__title p {
  color: $black;
}

.misc .title {
  float: right;
  width: 65%;
  right: 0;
  background: $golden;
  padding: .1em 1em .1em .2em;
  text-align: right;
}

.card__body {
  padding: 1em 2em 2em;
}

.card__subtitle {
  border-bottom: 1px solid $golden;
}

.card__title > img {
  display: inline;
  vertical-align: middle;
  margin-left: 2em;
  width: 45px;
}

.option {
  display: inline-block;
}

.option + #sortAP:checked ~ .misc__grid .card:not(.ap),
.option + #sortZot:checked ~ .misc__grid .card:not(.zot),
.option + #sortDiaspora:checked ~ .misc__grid .card:not(.dia),
.option + #sortOstatus:checked ~ .misc__grid .card:not(.os),
.option + #snMacro:checked ~ .misc__grid .card:not(.SN-ma),
.option + #snMicro:checked ~ .misc__grid .card:not(.SN-mi),
.option + #blogPub:checked ~ .misc__grid .card:not(.Blog-Pub),
.option + #media:checked ~ .misc__grid .card:not(.Media),
.option + #links:checked ~ .misc__grid .card:not(.Links),
.option + #evMeet:checked ~ .misc__grid .card:not(.Ev-Meet),
.option + #files:checked ~ .misc__grid .card:not(.Files),
.option + #dev:checked ~ .misc__grid .card:not(.DevTools),
.option + #econ:checked ~ .misc__grid .card:not(.Econ),
.option + #coop:checked ~ .misc__grid .card:not(.Coop),
.option + #plugins:checked ~ .misc__grid .card:not(.Plugins) {
  display: none;
}

@media screen and (max-width: $mq-medium) {
  .misc__grid .card {
    flex: 45% 0 0;
  }
}

@media screen and (max-width: $mq-small) {
  .misc__grid .card {
    flex: 49% 0 0;
  }
}

@media screen and (max-width: $mq-xsmall) {
  .misc__grid .card {
    flex: 100% 0 0;
  }
}
