
.network h2 {
  text-transform: uppercase;
}

.network .section-title {
  position: relative;
}

.network aside {
  position: absolute;
  right: 0;
  top: -1em;
  line-height: 1.5;
  text-align: right;
}

.network .connections li {
  margin-right: .3em;
}

.connections .section-list {
  margin-top: -.4em;
}

svg.f-highlight {
  position: relative;
  width: 18px;
  height: 18px;
  top: .2em;
  right: .2em;
}

.server-list {
  margin-left: 1.3em;
}

img.mascot {
  display: inline-block;
  margin: 0 .2em;
}



@media screen and (max-width: $mq-small) {
  .network aside {
    display: none;
  }

  .network .connections li:first-of-type {
    margin-top: 1em;
  }
}
